@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Sans+Pro&display=swap');

/* Variables for the whole css */
:root{
    /* COLORS PALATTE*/
    --COLOR1:#022B3A;
    --COLOR2:#1F7A8C;
    --COLOR3:#BFDBF7;
    --COLOR4:#E1E5F2;
    --COLOR5: #FFFFFF;
    --HOVER_COLOR:hsl(210, 78%, 86%,0.5);
    --HEADING_FONT:'Montserrat', sans-serif;
    --BODY_FONT:'Source Sans Pro', sans-serif;
    --FONT_SIZE_X:1em;
    --FONT_SIZE_XL:2em;
    --FONT_SIZE_XXL:3em;
    --PADDING:0.3em;
    --BOX_SHADOW:3px 3px 2px 1px rgba(0, 0, 0, 0.2);
}

/* Overriding the defaults */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: var(--BODY_FONT);
}
h1, h2, h3,h4, h5, h6{
    font-family: var(--HEADING_FONT);
}

/* Change the text color to theme */
/* For single properties  */
.inner_style{
    color:var(--COLOR2);
}
.bold{
    font-weight: bold;
}
.align_center{
    text-align: center;
}


/* CSS for the topbar where name dipslayed as "First Semester" */
.topbar{
    display: flex;
    justify-content: space-evenly;
    margin: 3em;
    margin-bottom:2em;
    background-image: url("../Resources/images/background3.jpg");
    background-size: 1100px;
    
}

.display_name{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.topbar img{
    width: 20%;
    margin-left: 10em;
}

.display_name h1{
    font-size: var(--FONT_SIZE_XXL);
}
.display_name h2{
    font-size: var(--FONT_SIZE_XL);
}
.display_name p{
    font-size: var(--FONT_SIZE_XL);
    opacity: 0.8;
}
.syllabus{
    width:100%;
    background-image:url("../Resources/images/Artboard\ 1.jpg") ;
    margin:10px 0 10px 0;
}
.syllabus-wrapper{
    width: 1200px;
    margin: 0px auto;
	text-align:justify;
    text-justify:inter-word;
    padding: 20px 50px 20px 50px;
    
}
.syllabus p{
    margin-bottom: 1.5rem;
}
.head-wraper{
    display:flex;
    justify-content: space-between;
    line-height: 0.2rem;
}
.display_name{
    display:flex;
    justify-content: space-evenly;
}
header,footer,.copyright{
    background-color: white;
}
.copyright{
    background: #E1E5F2;
}